---
import Layout from '../../layouts/Layout.astro';
import {getCollection} from 'astro:content';
import ProjectCardList from '@/components/ProjectCardList.astro';

interface Project {
    id: string;
    data: {
        title: string;
        summary: string;
        tags: string[];
        cover: ImageMetadata;
    };
}

const allProjects = await getCollection('projects');
---

<Layout title="John Doe | Portfolio | My Projects" description="A list of my best projects" scrollSmooth={false}>
    <main class="container py-24 flex gap-8 flex-col" role="main">
        <!--Projects Section-->
        <section class="border-bottom">
            <div class="mb-4">
                <h2 class="text-3xl font-bold mb-8">All My Projects</h2>
            </div>
        </section>

        <section class="flex flex-col gap-8">
            {allProjects.length > 0 ? (
                allProjects.map((project: Project) => (
                        <ProjectCardList
                                id={project.id}
                                title={project.data.title}
                                tags={project.data.tags}
                                cover={project.data.cover}
                        />
                ))
            ) : (
                    <p>No projects found.</p>
            )}
        </section>
    </main>
</Layout>
